
.register-form {
    position: absolute;
    width: 588px;
    height: 576px;
    left: 426px;
    top: 162px;
  
    background: #c4c4c4;
    border-radius: 57px;
  }
  
  .register-form input {
    border: none;
    background: #c4c4c4;
  }
  
  .register-form input:active,
  :hover,
  :focus {
    outline: 0;
    outline-offset: 0;
  }
  .title {
    position: absolute;
    height: 54px;
    left: 207px;
    right: 207px;
    top: 60px;
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
  }
  
  .first-name {
    position: absolute;
    height: 47px;
    left: 72px;
    top: 149px;
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
  }
  .last-name {
    position: absolute;
    height: 47px;
    left: 72px;
    top: 221px;
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
  
    color: #000000;
  }
  .email {
    position: absolute;
    height: 47px;
    left: 72px;
    top: 293px;
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
  }
  .password {
    position: absolute;
    height: 47px;
    left: 72px;
    top: 365px;
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
  }
  
  .sing-up {
    position: absolute;
    width: 277px;
    height: 73px;
    left: 155px;
    bottom: 72px;
  
    background: #828282;
    border-radius: 62px;
    border: none;
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
  }
  .sing-up:hover {
      background: rgb(151, 20, 10);
      cursor: pointer;
  }

  .footer{
    position: absolute;
    width: 348px;
    height: 22px;
    left: 167px;
    bottom: 31px;
    
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.75px;
    text-decoration-line: underline;
    color: #88888C;
  }
  .footer a{
      color: black;
  }